@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Recipe
@using RecipeBox.Models;

<h2>Recipe Details</h2>

<p>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</p>

<h5>Tags:
  @foreach (var join in Model.Categories)
  {
    @join.Category.Name
  }
</h5>

<h4>Ingredient List:</h4>
<ul>
  @foreach (Ingredient ingredient in @Model.Ingredients)
  {
    <li>@ingredient.IngredientName</li>
  }
</ul>

<p>@Html.ActionLink("Back to Recipes", "Index")</p>
<p>@Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Add a Category", "AddCategory", new { id = Model.RecipeId })</p>
<p>@Html.ActionLink("Remove Recipe", "Delete", new { id = Model.RecipeId })</p>