@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Category

<h2>Add an Recipe to this Category: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CategoryId)

  @Html.Label("Select Recipe")
  @Html.DropDownList("RecipeId")

  <input type="submit" value="Associate" />
}

<p>@Html.ActionLink("Back To Categories", "Index")</p>