@{
  Layout = "_Layout";
}

using RecipeBox.Models;
@model RecipeBox.Models.Category

<h3>Category Details</h3>

<h5>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h5>

@if (@Model.Recipes.Count == 0)
{
  <h2>This Category is not assigned to any recipes</h2>
}
else
{

  <h4>Recipes assigned to this category</h4>
  <ul>
    @foreach (var join in Model.Recipes)
    {
      <li>@join.Recipe.Name</li>
      @using (Html.BeginForm("DeleteRecipe", "Categories"))
      {
        @Html.Hidden("joinId", @join.CategoryRecipeId)
        <input type="submit" value="Deassociate" />
      }
    }
  </ul>
}

<p>@Html.ActionLink("Back to Categories", "Index")</p>
<p>@Html.ActionLink("Add a Recipe", "AddRecipe", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Edit Category", "Edit", new { id = Model.CategoryId })</p>
<p>@Html.ActionLink("Remove Category", "Delete", new { id = Model.CategoryId })</p>